:root {
	--slot-height: 200px;
}

@keyframes spinning {
	from {
		transform: translateY(0%)
	}

	to {
		transform: translateY(calc(-100% + calc(var(--spin-height, var(--slot-height, 400px)) * 2)))
	}
}

@keyframes flashing {
	from {
		filter: unset;
	}

	to {
		filter:
			brightness(200%)
			drop-shadow(0 0 1rem yellow);
	}
}

.slot-machine {
	position: relative;
	margin: 2rem 0;

	&-box  {
		padding: 1rem;
		background-color: silver;
		background: linear-gradient(
			to bottom,
			rgba(60,60,57,1) 0%,
			rgba(70,70,67,1) 15%,
			rgba(134,132,126,1) 22%,
			rgba(161,160,155,1) 39%,
			rgba(131,129,124,1) 71%,
			rgba(105,102,93,1) 76%,
			rgba(105,102,93,1) 95%,
			rgba(55,54,52,1) 100%);
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-radius: 0.5rem;
		box-shadow:
			0 0.5rem 0 0 dimGrey,
			0 0.5rem 1rem 0.5rem rgba(0,0,0,0.5);
	}

	&-screen, &-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-screen {
	}

	&-bar {
		opacity: 0;
		background-color: silver;
		height: var(--slot-height, 200px);
		flex-basis: 1rem;
		z-index: 11;
	}

	&-window {
		border-radius: 0.5rem;
		border: 0.5rem solid black;
		flex: 1;
		height: var(--slot-height, 200px);
		overflow: hidden;
		opacity: 0.9;
		position: relative;
		background: white;
	}

	&-wrap {
		transition-timing-function: cubic-bezier(0.5, 0.5, 0, 1.5);
	}

	&-item {
		display: block;
		margin-top: calc(var(--slot-height, 200px) e('/') -2);
		text-align: center;
		font-size: 5rem;
		height: var(--slot-height, 200px);
		line-height: var(--slot-height, 200px);
		user-select: none;
		-moz-user-select: none;

		img {
			margin: 0 auto;
			padding-top: calc(var(--slot-height) e('/') 4)
		}
	}

	&-glass {
		position: absolute;
		z-index: 11;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: inset 0 0 4px 0 black;
		background:
			linear-gradient(
				#333,
				transparent 15%,
				transparent 85%,
				#333 );
	}
}
